<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Streaming Project</title>
</head>
<body>
<div class="heading">
    <h1>Live Streaming Application </h1>
    <hr>
</div>
<div class="imgbox">
    <img class="center-fit" src="{{ url_for('video_feed') }}" alt="video_feed"/>
    <form action='{{ url_for('end_stream') }}'>
        <input type="submit" value="Save and End Stream!"/>
    </form>
</div>
<style>
    .heading {
        background-color: #FFFFFF;
        color: #FF843D;
        font-family: serif;
        font-style: oblique;
        font-size: 19px;
        text-align: center;
        margin-bottom: 50px;
    }

    .imgbox {
        display: grid;
        height: 100%;
    }

    .center-fit {
        display: block;
        min-width: 50%;
        min-height: 50%;
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
        border: 3px solid #555;
    }
</style>
</body>
</html>