<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Streaming Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<div class="heading">
    <h1>Live Detect - Streaming Application </h1>
    <hr>
</div>
<div class="imgbox">
    <img class="center-fit" src="{{ url_for('video_feed') }}" alt="video_feed"/>
</div>
    <form class="horizontal-center" action='{{ url_for('save_stream') }}'>
        <input class="button" type="submit" value="Save and End!"/>
    </form>
</body>
</html>